<nav id="nav_main">
    <div id="nav_container_main">
        <a href="/" class="link"> {{title}} </a>
    </div>
    
    <div id="nav_container_aside">
        <a href="/about" class="link"> about </a>
        <a href="/basics" class="link"> basics </a>
        <a href="/contact" class="link"> contact </a>
    </div>
</nav>