
<p id="title_main"> <b> Welcome to {{title}} </b> </p>

<div class="container_main_index">
    <h3> It is all about change. </h3>
    <img src="/images/change.jpg" alt="change">
</div>


<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, hic cumque! Distinctio aperiam nulla molestias laudantium est voluptatem nostrum 
    consequuntur voluptate, animi, possimus, quis amet tempora unde autem quae pariatur.
    Quae laboriosam aliquid, accusantium vitae debitis nesciunt amet deserunt? Perferendis saepe quasi dicta quisquam. 
    Ipsam excepturi, nobis nesciunt placeat autem eum quam consectetur aliquam quasi hic voluptates, eaque deserunt numquam.
    Ipsum aspernatur et perferendis hic earum odio officia doloremque rem expedita consequuntur sequi officiis quasi laboriosam suscipit temporibus ad, inventore 
    voluptatibus ab? Beatae officiis laborum autem, libero dolores ad optio?
    Deleniti nihil facere in exercitationem fugiat sed expedita odio aut perspiciatis aperiam cum corrupti maxime aliquid et molestiae accusantium esse dolorem 
    veritatis, dolor voluptas atque alias? Facilis molestias voluptate doloribus?
    Quae voluptatem dignissimos maiores temporibus iste quam labore, deleniti hic nostrum ut culpa omnis! Corporis, architecto itaque nesciunt eum praesentium 
    magni accusantium saepe qui molestiae animi laborum, tenetur, quod eos!
</p>



