<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{title}}</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Overlock&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/nav_basic.css">
  <link rel="stylesheet" href="/stylesheets/styles_content.css" />
  <link rel="stylesheet" href="/stylesheets/styles_main.css" />

</head>
{{#if nav_basic}}
  <body class="basic">
  {{/if}}
  {{#else}}

  <body>
    {{/else}}

    {{> nav_main }}
    {{#if nav_basic}}
    {{> nav_basic }}
    {{/if}}

    <div id="content_container_main">
      {{{ body }}}
    </div>

    {{> footer_main }}
    <script src="/javascripts/script.js"></script>
  </body>

</html>