/* --- id --- */
#nav_basic {
  background-color: #323232;
  color: white;
  display: flex;
  font-family: 'Fredericka the Great', cursive;
  justify-content: flex-end;
  padding: 0 30px;
  position: fixed;
  left: 0;
  right: 0;
  top: 70px;
  width: 100%;
  z-index: 10;
}

/* --- classes --- */
.basic {
  top: 35px;
}


